ConsoleApp1/Connected Services/ServiceReference1/BGService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://ncsibg.usasoftball.com/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://ncsibg.usasoftball.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ncsibg.usasoftball.com/">
      <s:element name="BGStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BGStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BGStatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TellFortune">
        <s:complexType />
      </s:element>
      <s:element name="TellFortuneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TellFortuneResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="BGStatusSoapIn">
    <wsdl:part name="parameters" element="tns:BGStatus" />
  </wsdl:message>
  <wsdl:message name="BGStatusSoapOut">
    <wsdl:part name="parameters" element="tns:BGStatusResponse" />
  </wsdl:message>
  <wsdl:message name="TellFortuneSoapIn">
    <wsdl:part name="parameters" element="tns:TellFortune" />
  </wsdl:message>
  <wsdl:message name="TellFortuneSoapOut">
    <wsdl:part name="parameters" element="tns:TellFortuneResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="BGStatus">
      <wsdl:input message="tns:BGStatusSoapIn" />
      <wsdl:output message="tns:BGStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TellFortune">
      <wsdl:input message="tns:TellFortuneSoapIn" />
      <wsdl:output message="tns:TellFortuneSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BGStatus">
      <soap:operation soapAction="http://ncsibg.usasoftball.com/BGStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TellFortune">
      <soap:operation soapAction="http://ncsibg.usasoftball.com/TellFortune" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BGStatus">
      <soap12:operation soapAction="http://ncsibg.usasoftball.com/BGStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TellFortune">
      <soap12:operation soapAction="http://ncsibg.usasoftball.com/TellFortune" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:51064/BGService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:51064/BGService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>